.header {
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  height: 12rem;
  width: 100%;
  padding: 1rem;
}

.header div {
  font-size: clamp(2rem, 5vw, 3rem);
}

.blue {
  color: var(--blue);
  font-weight: 900;
}

.purple {
  color: var(--purple-dark);
  font-weight: 900;
}
